.footer {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 92px;
    padding-right: 0;
    padding-bottom: 24px;
    padding-left: 0;
}

@media screen and (max-width: 1279px) {
    .footer {
        max-width: 91%;
        padding-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        padding-top: 64px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}